<section class="container my-5">
    <h2 class="text-primary text-center">{{case.title}}</h2>
    <div class="row" *ngIf="isLoaded; else notLoaded">
            <div class="m-3">
                <img src="{{_data.imgPath}}{{case.image}}" class="header img-fluid w-100">
                <p class="text-danger h6 ms-3">{{case.title}}</p>
                <span class="text-muted ms-3">{{case.department_data.dep_name}}</span>
                <div class="row ms-3 text-primary justify-content-end">
                    <div class="col-2">
                        {{case.reactions_count}} <i class="fa-solid fa-thumbs-up"></i>
                    </div>
                    <div class="col-2">
                        <!-- {{case.comments.length}} <i class="fa-solid fa-comment"></i> -->
                    </div>
                </div>    
                <div [innerHTML]="case.content"></div>
                <h3 class="text-primary">Comments</h3>
                <div class="alert alert-danger" *ngIf="!case.comments.length">
                    No comments yet
                </div>
                <!-- <div *ngFor="let comment of case.comments" class="bg-light p-2 border-1">
                    <div class="row">
                        <div class="col-1">
                            <img [src]="
                            comment.user.image? comment.user.image:'assets/1.jpg'
                            "
                            class="img-fluid rounded-circle">
                        </div>
                        <div class="col-10">
                            <h6>{{comment.user.name}}</h6>
                            <span class="text-muted">{{comment.created_at|date:'fullTime'}}</span>
                            <p>{{comment.comment}}</p>        
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    <ng-template #notLoaded>
        <img src="assets/load.gif">
    </ng-template>
    <div class="my-3" *ngIf="_data.isLogin ;else notLogged ">
        <h6 class="text-primary mb-3">Enter your comments</h6>
        <form>
            <div class="mb-3">
                <input class="form-control" placeholder="Enter your comment">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">send</button>
            </div>
        </form>
    </div>
<ng-template #notLogged>
    <div class="my-3">
        <p class="alert alert-danger">please login to add comments</p>
    </div>
</ng-template>
</section>
